body {
    font-family: Arial, Helvetica, sans-serif;
}

#global-header {
    display: flex;
    justify-content: center;
    
}

form {
    position: relative;
    margin-bottom: 1rem; 
    width: auto;
}

#search {
    width: 300px;
    padding: 10px;
    padding-right: 60px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #000;
    }

#search-button {
    position: absolute;
    right: 10px; 
    top: 12px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    padding: 0;
}

#search-icon {
    position: absolute;
    right: 10px;
    color: #000;
}



.logo {
    font-size: 2rem;
}

ul {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
    justify-content: center;
    padding: 1rem;
}

#menu-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

a {
    color: #000;
    text-decoration: none;
}


#banner {
    /* Image by <a href="https://pixabay.com/users/the_iop-1181394/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8763490">the_iop</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8763490">Pixabay</a> */
    background-image: url('../bilder/lake-phone.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 800px;
    border-radius: 20px;
    text-align: right;
    justify-content: right;
    align-items: right;
    h2 {
        right: 10px;
        max-width: 50%;
        font-size: 2rem;
        padding: 1rem;
    }

    p {
        text-align: right;
        padding: 1rem;
    }
    a {
        background-color: #fff;
        padding: 1rem;
        border-radius: 30px;
        border: 1px solid #000;
        position: absolute;
        bottom: 10%;
        right: 30px;        
    }
}

#products {
    align-items: center;
    text-align: center;
    padding: 1rem;
    h2{
        font-size: 2rem;
    }   
    button {
        display: inline-flex;
        flex-direction: row;
        text-align: center;
        font-size: 15px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 30px;
        border: 1px solid #000;
        width: 100px;
        height: 50px;
        margin: 1rem;
    }
    #new-product {
        background-color: #000;
        color: #fff;
    }
    
}

#product-card {
    justify-content: left;
    picture img {
        border-radius: 20pxs;
    }
}


footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    width: 100%;
}

#f-logo {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    width: 100%;
    h4 {
        font-size: 1.5rem;
    }
}

#f-contact {
    position: absolute;
    left: 0;
   h4 {
         font-size: 1.5rem;
   }
ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    li {
        padding-left: 0.5rem;
    };
}
    
}

#f-shortcuts {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 70%;
    h4 {
        justify-content: flex-end;
        align-items: flex-end;
    }
}
