body {
    font-family: Arial, Helvetica, sans-serif;
}

#global-header {
    display: flex;
    justify-content: center;
    form {
        position: relative;
        margin-bottom: 1rem; 
        width: auto;
        #search {
            width: 300px;
            padding: 10px;
            padding-right: 60px;
            box-sizing: border-box;
            border-radius: 20px;
            border: 1px solid #000;
            }
            #search-button {
                position: absolute;
                right: 10px; 
                top: 12px;
                background: none;
                border: none;
                cursor: pointer;
                color: #000;
                padding: 0;
                #search-icon {
                    right: 10px;
                    color: #000;
                }
            }
    }
    #logo {
        font-size: 2rem;
    }
    
#menu-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    .fa-regular.fa-regular.fa-user {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
    }
    .fa-regular.fa-regular.fa-heart {
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
    }
    .fa-regular.fa-cart-shopping:hover {
        transform: scale(1.5);
        transition: transform 0.25s ease;
    }
}

    
}

ul {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1.5rem;
    }
}

a {
    color: #000;
    text-decoration: none;
}


#banner { 
    position: relative;
    height: 800px;
    border-radius: 20px;
    text-align: right;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    #banner1, #banner2, #banner3 {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
        #banner2, #banner3 {
            display: none;
        }
        picture {
            position: relative;
            display: flex;
            justify-content: center; 
            align-items: center;

            .fa-solid.fa-arrow-right {
                display: none;
            }
            .fa-solid.fa-arrow-left {
                display: none;
            }
                img {
                    border-radius: 20px;
                    justify-content: center;
                    align-items: center;
                    width: 95%;
                    height: 700px;
                    object-fit: cover;
                        }
        }
        
        h2 {
            text-align: right;
            position: absolute;
            top: 25px;
            right: 40px;
            max-width: 40%;
            font-size: 2rem;
            padding: 1rem;
        }
        p{
            position: absolute;
            text-align: right;
            width: 40%;
            right: 40px;
            bottom: 15%;
            padding: 1rem;
            font-size: 18px;

        }
        a {
            background-color: #fff;
            padding: 1rem;
            border-radius: 30px;
            border: 1px solid #000;
            position: absolute;
            bottom: 10%;
            right: 50px;     
            width: 60px;
        }   
    }
    #banner2 a {
        background-color: #000;
        color: #fff;
    }
    #banner2, #banner3 {
        display: none;
        h2 {
            text-align: left;
            justify-content: left;
            position: absolute;
            top: 25px;
            left: 40px;
        }
        p {
            text-align: left;
            position: absolute;
            width: 40%;
            left: 40px;
            bottom: 15%;
        }
          
    }
    
}


    



#products {
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    h2{
        padding-top:2rem ;
        font-size: 40px;
    }   
    button {
        display: inline-flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        background-color: #fff;
        padding: 1rem;
        border-radius: 30px;
        border: 1px solid #000;
        width: 120px;
        height: 60px;
        margin: 1rem;
    }
    button:hover {
        color: #fff;
        background-color:rgb(128, 128, 128);
    }
    #new-product {
        background-color: #000;
        color: #fff;
    }
    
    
}


.product-card {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    picture {
        position: relative;
        display: flex;
        justify-content: center; 
        align-items: center;
            img {
                border-radius: 20px;
                width: 90%;
                justify-content: center;
                align-items: center;
                width: 98%;
                border-radius: 20px;
                    }
    }

    .fa-regular.fa-heart {
        position: absolute;
        top: 2%;
        right: 3%;
        color: #fff;
        color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #fff;
        background-color: rgb(128, 128, 128);
        box-sizing: border-box;
        border-radius: 50%;
        padding: 8px;
        border: 2px solid rgba(128, 128, 128, 0.5);
        font-size: 18px;
    }

    .product-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            justify-content: space-between;
            text-align: left;
        }
    }

    
        
    
    
    
    p {
        text-align: end;
        
        
    }
    .star-product {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding-bottom: 2rem;
        i {
            padding-right: 0.5rem;
        }
        .fa-regular.fa-star {
           color: #000;
           color: transparent;
           -webkit-text-stroke-width: 2px;
           -webkit-text-stroke-color: #000;
        }
         
        
    }
    
}

#categories {
    h2 {
        text-align: center;
        font-size: 50px;
    }
    p {
        text-align: center;
    }
}
 #categories {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
     
        h2 {
            text-align: center;
            font-size: 50px;
        }
        p {
            text-align: center;
        }
    }
   
    .category-card {
        position: relative;
        width: 90%;
        height: 0;
        padding-bottom: 90%; 
        overflow: hidden;
        margin-bottom: 2rem;
        border: #fff 2px;
        border-radius: 20px;
        
        h3{
            position: relative;
            top: 200px;
            color: #ffffff;
            z-index: 2;
            text-align: center;
            
        }
        /* "why isnt h3 over background img" spurte jeg copilot om og fikk disse :: before taggene*/ 
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur(5px);
            z-index: 1;
        }
       
    }
    
    #category-card1::before {
        /* Image by <a href="https://pixabay.com/users/makabera-6773476/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6932222">Markus Kammermann</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=6932222">Pixabay</a>*/
        background-image: url('../bilder/forside/hockey-small.jpg'); 
        background-size: cover;
        background-position: center;
    }
    #category-card2::before{
        /* Image by <a href="https://pixabay.com/users/luongcung-17314202/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8612554">Cung Lương</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=8612554">Pixabay</a> */
        background-image: url('../bilder/forside/japan-small.jpg');
        background-size: cover;
        background-position: center;
    }
    #category-card3::before{
        /* Image by <a href="https://pixabay.com/users/jose_pachecoph-15197749/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5653140">José Andrés Pacheco Cortés</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=5653140">Pixabay</a> */
        background-image: url('../bilder/forside/cargo-small.jpg');
        background-size: cover;
        background-position: center;
       
    }
    #category-card4::before{
        /* Image by <a href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2178863">Pexels</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2178863">Pixabay</a> */
        background-image: url('../bilder/forside/papegoye-small.jpg');
        background-size: cover;
        background-position: center;
    }
    #category-card5::before{
        /* Image by <a href="https://pixabay.com/users/nick115-10240673/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3811734">Nick115</a> from <a href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=3811734">Pixabay</a> */
        background-image:url('../bilder/forside/panda-small.jpg') ;
        background-size: cover;
        background-position: center;
    }
    



#reviews {
    display: flex;
    flex-direction: column;
    h2 {
        text-align: center;
    }
    
    #scroll-container-review {
        overflow-x: auto; 
        display: flex;
        padding: 1rem;
        scroll-behavior: smooth; 

        .review-card {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            border-radius: 10px;
            border: solid 1px #dedede;
            margin: 1rem;
            min-width: 250px;

            picture {

                img {
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    border-radius: 50% ;
                }
                p {
                    text-align: left;
                }
            }
            .fa-regular.fa-star {
                color: transparent;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #000;
            }
            
        }
    }
}
#breadcrumbs {
    position: relative;
}

#breadcrumbs li {
    position: absolute;
    left: 10px;
    padding: 1rem;
    
}

#shopping-bag {
    padding-top: 3rem;
    
    h2 {
        text-align: left;
        padding: 1rem;
    }
    .checkout-card {
        width: 90%;
        picture img {
            align-items: flex-start;
            padding-left: 1rem;
            width: 50%;
            height: 50%;
        }
        .checkout-text {
            padding: 2rem;
            text-align: left;
            p {
                font-size: 16px;
                margin: 0;
            }
        }
        .checkout-input {
            display: flex;
            flex-direction: row;
            padding-left: 2rem;
        }
        p {
            font-size: 16px;
            padding: 0.5rem;
        }
        select {
            background-color: #fde8f4;
            border: none;   
            margin-right: 0.5rem;
        }
        input {
            margin-left: 0.5rem;
            width: 40px;
            border: none;
        }
        .checkout-icon {
            padding: 2rem;
            font-size: 20px;
        }
        .fa-regular.fa-heart {
            color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: #000;
            padding-right: 0.5rem;
        }


    }
}

#fill-info {
    display: flex;
    flex-direction: column;
    
    padding-top: 3rem;
    h2 {
        text-align: left;
        padding: 2rem;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        section {
            display: flex;
            flex-direction: column;
        }
        
        input {
            width: 50%;
            padding: 1rem;
            margin: 1rem;
            border: none;
            
        }
        
    }
    button {
        color: #fff;
        width: 90%;
        padding: 1rem;
        margin: 1rem auto;
        background-color: #3b3b3b;
        border: none;
        text-align: center;
        font-size: 18px;
    }
    #button {
        background-color: #fff;
        color: #0011ff;
        text-decoration: underline;
    }
    #button:hover {
        text-decoration: none;
    }
}

#shipment {
   
    padding-top: 3rem;
    h2 {
        text-align: left;
        padding: 2rem;
        font-size: 30px;
        margin: 0;
    }
    #shipment-choose {
        text-align: left;
        padding-left: 2rem;
        font-size: 20px;
    }
    form {
       
        align-items: flex-start;
        padding: 3rem;

        h3 {
            text-align: left;
        }
        label {
            font-weight: bold;
        }
        p {
        }
    }
    .shipment-time {
        color: #666666;
        font-weight: bold;
    }
}

#payment {
    text-align: left;
    padding: 3rem;
    h2 {
        font-size: 30px;
    }
    #payment-card{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 1rem;
        input {
            width: 50%;
            padding: 1rem;
            margin: 1rem;
            border: none;
        }
    }
    #payment-finish {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-size: 18px;
            text-align: center;
        }
        h3 {
            font-size: 25px;
        }
        button {
            color: #fff;
            width: 100%;
            padding: 1rem;
            margin: 1rem auto;
            background-color: #3b3b3b;
            border: none;
            text-align: center;
            font-size: 18px;
        }
    }
}


footer {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-row: 1fr 1fr 1fr;

    #f-logo {
        grid-column: 1/3;
        grid-row:1/2 ;
        
        h4 {
            font-size: 30px;
            margin-bottom: 0;
        }
        p {
            text-align: left;
        }
    }

    #f-contact {
        grid-column: 1/3;
        grid-row: 2/3;
        
    h4 {
        text-align: left;
        font-size: 24px;
        margin-bottom: 0;
    }
    ul {
        text-align: left;
        align-items: flex-start;
        li {
            text-align: left;
            padding: 0.5rem;
            }
        }
        
    }   

    #f-shortcuts {
        grid-column: 2/3;
        grid-row: 2/3;
        h4 {
            font-size: 24px;
            margin: 0;
        }
        ul {
            text-align: right;
            align-items: flex-start;
            li {
                padding-bottom: 0;
                padding-top: 0.5rem;

            }
        }
    }

    #f-some {
        grid-column: 1/2;
        grid-row: 3/4;
        h4 {
            margin-bottom: 0;
            font-size: 24px;
        }
        width: 100%;
    ul {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        align-items: flex-start;
            li {
                padding-right: 2rem;
                font-size: 24px;
            }
        
        }
    }
    }





@media only screen and (min-width: 800px) {
    #global-header {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        font-size: x-large;
        
        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
                }
        #menu-text {
            li {
                padding: 1rem;
            }
        }
    }
    nav {
        display: flex;
        justify-content: center;
        flex: 1;
    }
    
    #search {
        flex-direction: row;
       
        
    }
    ul {
        flex-direction: row;
        align-items: center;
        
    }
    #menu-icon{
        align-items: flex-end;
    }
   
    #banner {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        max-width: 1700px;
        padding: 1rem;
        width: 100%;
        height: 1000px;
        #scroll-container-banner {
            overflow-x: auto; 
            display: flex;
            padding: 1rem;
            scroll-behavior: smooth; 
            gap: 1rem;
            position: relative;
        }
        .fa-solid.fa-arrow-right {
            display: block !important;
            position: absolute;
            color: #000;
            background-color: rgb(190, 190, 190);
            box-sizing: border-box;
            border-radius: 50%;
            padding: 8px;
            border: 2px solid rgba(190, 190, 190, 0.5);
            font-size: 25px;
            top: 50%;
            right: 30px;

        }
        .fa-solid.fa-arrow-left {
            display: block !important;
            position: absolute;
            color: #000;
            background-color: rgb(190, 190, 190);
            box-sizing: border-box;
            border-radius: 50%;
            padding: 8px;
            border: 2px solid rgba(190, 190, 190, 0.5);
            font-size: 25px;
            top: 50%;
            left: 30px;
        }
       
        #banner1, #banner2, #banner3 {
            position: relative;
            width: 1680px; 
            /* fikk av copilot, 15.11/24 */
            flex-shrink: 0; 
            padding: 0;
            border-radius: 20px;
            

        h2 {
            position: absolute;
            right: 70px;
            top: 100px;
            max-width: 30%;
            font-size: 40px;
            padding: 1rem;
        }
        p {
            position: absolute;
            text-align: right;
            width: 40%;
            right: 70px;
            bottom: 180px;
            padding: 1rem;
        }
        a {
            position: absolute;
            right: 80px;
            bottom: 120px;
            font-size: 20px;
            width: 80px;
        }

        picture img {
        width: 100%; 
        height: 700px; 
        object-fit: cover; 
        border-radius: 20px;
        }
    }


    #banner2, #banner3 {
        display: block !important;
        color: #fff;
        h2 {
            position: absolute;
            text-align: left;
            right: 100px;
            top: 100px;
            max-width: 40%;
            padding: 1rem;
        }
        p {
            position: absolute;
            text-align: left;
            left: 70px;
            
        }
        a {
            position: absolute;
            left: 80px;
        }
      
    }
}
   #products { 
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    gap: 1rem;

        h2 {
            font-size: 60px;
           
        }
        p {
            font-size: 20px;
        }
        button {
            font-size: 20px;
            height: 60px;
            width: 180px;
            flex-direction: row;
        }
       #product-flex {
           display: flex;
           flex-direction: row;
           justify-content: center;
           align-items: center;
           flex-wrap: wrap;
           gap: 1rem;
           margin: 1rem;
       }
       .fa-regular.fa-heart:hover {
              background-color: #ff0000; 

       }
   }
#categories {
    display: grid;
    grid-template-columns:  30% 30% 30%;
    grid-template-rows:  150px 1fr 1fr 1fr;
    justify-items: center;
    
    .category-card {
        position: relative;
        justify-items: center;
        justify-content: center;
        padding: 20px;
        z-index: 1;
        height: 300px;
        background-position: center;
        background-size: cover;
        
        h3 {
            position: relative;
            top: 50%;
            font-size: 25px;
        }
        &::before {
            padding: 10px;
            z-index: 2;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            background-size: cover;
            background-position: center;
            filter: blur(5px);
            z-index: 1;
        }
    }
    h2 {
        font-size: 40px;
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: center;
        align-self: start;
    }
    p {
        font-size: 20px;
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: flex-end;
      }
    #category-card1 {
        grid-column: 1/2;
        grid-row: 2/3;
        width: 90%;
        h3 {
            position: relative;
            top: 40%;
            font-size: 25px;
        }
        }
    #category-card2 {
        grid-column: 2/3;
        grid-row: 2/3;
        width: 90%;
        h3 {
            position: relative;
            top: 40%;
            font-size: 25px;
        }
     }
    #category-card3 {
        grid-column: 3/4;
        grid-row: 2/4;
        max-height: 709px;
        height: 90%;
        width: 90%;
        
    }
    #category-card4 {
        grid-column: 1/3;   
        grid-row: 3/5;
        height: 656px;
        width: 95.5%;
        
    }
    #category-card5 {
        grid-column: 3/4;
        grid-row: 4/5;
        height: 75%;
        width: 90%;
        max-height: 90%;
       
        }   
    }

    #reviews {
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 90%;
        position: relative;
        h2 {
            
            font-size: 40px;
            text-align: left;
            width: 95%;
            margin-left: 0;
        }
        .review-card {
            margin: 0 auto;
            width: 22%;
            height: 600px;
            border: none !important;

            p {
                font-size: 20px;
            }
                
        }
    }

    #breadcrumbs li {
        margin-left: 22rem;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        }
        
    #shopping-bag {
       h2 {
            font-size: 40px;
            text-align:center;
            padding: 1rem;
       }
        .checkout-card {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        max-width: 70%;
        width: 60%;
        margin: 0 auto;
        justify-content: center;
            picture img {
                width: 300px;
                height: 300px;
                object-fit: cover;
                align-items: center;
            }
            .checkout-info {
                flex-direction: column;
                padding-right: 10%;
            }
            .checkout-text {
                padding: 2rem;
                text-align: left;
                height: 30%;
                p {
                    font-size: 20px;
                    padding: 0;
                }
            }
            .checkout-input {
                padding: 2rem;  
                align-items: center;
                justify-content: flex-start;
                text-align: left;
                height: 30%;
            }
        }
        .checkout-icon {
            display: flex;
            flex-direction: column;
           i {
            padding: 1rem;
            align-items: flex-start;
           }
        }
    }
    #fill-info {
        max-width: 50%;
        width: 40%;
        margin: 0 auto;
        h2 {
            font-size: 30px;
            text-align: left;
        }
        p {
            text-align: left;
            align-items: center;
            padding-left: 4rem;
            margin: 0;
        }
        #info-person {
            width: 80%;
            height: 200px;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: relative;
            input {
                margin: 0;
            }
            #first {
                position: absolute;
                top: 5%;
                left: 10px;
            }
            #last {
                position: absolute;
                top: 5%;
                right: 20%;    
            }
            #address {
                position: absolute;
                top: 40%;
                left: 10px;
            }
            #post {
                position: absolute;
                top: 70%;
                left: 10px;
            }
            #town {
                position: absolute;
                bottom: 5%;
                right: 20%;
            }
               
            section {
                gap: 1rem;
                padding: 1rem;
            }
            p {
                text-align: left;
                
            }
        }
        button {
            width: 80%;
            padding: 1rem;
            margin: 1rem auto;
            font-size: 20px;
        }
        #info-contact {
           
            width: 80%;
            margin: auto;
            margin-top: 4rem;
            align-items: left;
            display: flex;
            flex-direction: column;
            p {
                text-align: left;
                padding: 0;
            }
            input {
                padding: 0;
                margin: 1rem;
            }
        }
        }

    #shipment {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        width: 40%;
        margin: 0 auto;
        justify-content: center;
        h2 {
            font-size: 30px;
            text-align: left;
        }
        #shipment-choose {
            font-size: 20px;
            text-align: left;
            font-weight: bold;
            
        }
        form {
            section {
                position: relative;
                padding: 1rem;
            }
            
            }
            .kr-icon {
                position: absolute;
                right: 20px;
                top: 10px;
                
            }
        }
        
    #payment {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        width: 40%;
        margin: 0 auto;
        justify-content: center;
        h2 {
            font-size: 30px;
            text-align: left;
        }
        #payment-card {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 0;
        }
        form {
            position: relative;
        }
        #CVC {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 30px;
            bottom: 10px;
        }
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;    
        max-width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;
        gap: 1rem;
    }
    #f-logo {
        grid-column: 1/4;
        grid-row: 1/2;
        text-align: left;
        h4 {
            font-size: 40px;
        }
        p {
            font-size: 20px;
        }
    }
    #f-contact {
        grid-column: 1/2;
        grid-row: 2/3;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        
        h4 {
            font-size: 30px;
        }
        ul {
            flex-direction: column;
            li {
                font-size: 20px;
            }
        }
    }
    #f-shortcuts {
        position: relative; 
        width: 10px;    
        
        h4 {
            position: absolute;
            right: 300px;
            font-size: 30px;
        }
        nav {
            display: flex;  
        } 
        ul {
            position: absolute;
            flex-direction: column;
            
        }
        li {
            font-size: 20px;
        }
    }
    #f-some {
        grid-column: 3/4;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        h4 {
            font-size: 30px;
            text-align: left;
        }
        ul {
            flex-direction: row;
            text-align: left;
            li {
                font-size: 20px;
            }
        }
}
}